@import "src/mixins.scss";

.container {
  @include flex-center-column(64px);
  z-index: 1;

  .description {
    @include flex-center-column(16px);
    width: 770px;
    text-align: center;

    .title {
      @include typography(52px, 800, 62px, var(--text-color-primary));
    }

    .text {
      @include typography(20px, 400, 30px, var(--text-color-secondary));
    }

    .actions {
      display: flex;
      gap: 12px;

      .freeTrial {
        background-color: var(--background-color-footer-row-1);
        font-size: 16px;
        width: 167px;
        height: 48px;
        color: var(--white);
      }

      .learnMore {
        background-color: var(--background-color-divider);
        font-size: 16px;
        width: 167px;
        height: 48px;
        color: var(--white);
      }
    }
  }

  .videoContainer {
    position: relative;
    width: 100%;
    height: auto;

    .video {
      position: relative;
      display: inline-block;
      width: 100%;
      height: max-content;

      .background {
        display: block;
        width: 100%;
        height: 100%;
      }

      .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;

        &:hover, &:focus {
          cursor: pointer;
          transform: translate(-50%, -50%) translateY(-10px);
        }
      }
    }

    .underVideo {
      position: absolute;
      bottom: -15%;
      left: -20%;
      width: auto;
      max-width: 100%;
      height: auto;
      z-index: -1;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .description {
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  .container {
    .description {
      .actions {
        flex-direction: column;
      }
    }
  }
}
