@mixin flex-center($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin typography($size, $weight, $line-height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

.container {
  @include flex-center(column, space-between, stretch, 64px);
  position: relative;
  width: 100%;
  height: 100%;

  .backgroundImage {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 0;
  }

  .block1 {
    @include flex-center(row, space-between, center, 8px);
    background-color: var(--background-color-footer-row-1);
    height: 206px;
    padding: 0 48px;

    .description {
      @include flex-center(column, center, center, 15px);
      color: var(--white);
      text-align: center;

      .title {
        font-size: 32px;
        font-weight: 700;
      }

      .subtitle {
        font-size: 18px;
        font-weight: 400;
      }
    }

    .actions {
      @include flex-center(row, center, center, 8px);
    }
  }

  .block2 {
    @include flex-center(column, space-between, stretch);
    min-height: 240px;
    padding: 15px 0;

    .row1 {
      @include flex-center(row, space-between, center);

      .leftSide {
        @include flex-center(column, space-between, start, 20px);
        width: 350px;

        .description {
          @include typography(16px, normal, 24px, var(--text-color-secondary));
        }
      }

      .rightSide {
        @include flex-center(row, space-between, stretch);
        width: 600px;

        .column {
          @include flex-center(column, flex-start, stretch, 4px);

          .title {
            @include typography(14px, 500, 22px, var(--text-color-primary));
          }

          .link {
            @include typography(14px, 400, 22px, var(--text-color-secondary));
            transition: transform 0.3s ease;
          }

          .link:hover {
            cursor: pointer;
            transform: translateX(+5px);
          }
        }
      }
    }
    .row2 {
      @include flex-center(row, space-between, center);

      p {
        @include typography(14px, 500, 22px, var(--text-color-secondary));
      }

      .links {
        @include flex-center(row, space-between, stretch);
        width: 230px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .block1 {
      @include flex-center(column, space-around, center, 25px);
      height: max-content;
      padding: 20px 48px;

      .description {
        align-items: center;
        .subtitle {
          text-align: center;
        }
      }
    }

    .block2 {
      gap: 30px;
      .row1 {
        @include flex-center(column, center, center, 30px);
        .leftSide {
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .container {
    .block2 {
      .row1 {
        .rightSide {
          @include flex-center(column, center, center, 30px);
          width: 100%;

          .column {
            align-items: center;

            .link:hover {
              transform: translateY(-3px);
            }
          }
        }
      }
      
      .row2 {
        @include flex-center(column, center, center, 20px);
      }
    }
  }
}

@media (max-width: 620px) {
  .container {
    .block1 {
      .actions {
        flex-direction: column;
      }
    }
  }
}
