.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  
  .start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    max-width: 770px;

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 186px;
      height: 30px;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      border-radius: 70px;
      color: var(--text-color-tag);
      background-color: var(--background-color-tag);
    }

    .title {
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
      color: var(--text-color-primary);
    }

    .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--text-color-secondary);
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
