@mixin typography($size, $weight, $line-height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.container {
  @include flex-column(30px);

  .description {
    @include flex-column(44px);

    .title {
      @include typography(40px, 800, 50px, var(--text-color-primary));
      text-align: center;
    }

    .text {
      @include typography(20px, 400, 30px, var(--text-color-secondary));
      text-align: center;
    }
  }

  .data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    justify-items: center;
    gap: 30px;

    .item {
      @include flex-column(16px);
      align-items: center;
      text-align: center;
      width: 325px;

      .title {
        @include typography(24px, 700, 34px, var(--text-color-primary));
      }

      .description {
        @include typography(18px, 400, 27px, var(--text-color-secondary));
      }
    }
  }
}
