@mixin flex-center-column($gap: 0) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

@mixin typography($size, $weight, $line-height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

.container {
  @include flex-center-column(80px);

  .description {
    @include flex-center-column(16px);
    text-align: center;

    .title {
      @include typography(40px, 800, 50px, var(--text-color-primary));
    }

    .subtitle {
      @include typography(20px, 400, 30px, var(--text-color-secondary));
    }
  }

  .users {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
