@mixin typography($size, $weight, $line-height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

@mixin flex-center-column($gap: 0) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-center-gap($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
