:root {
  --white: #ffffff;
  --background-page-black: #151719;
  --background-color-input: #ababff;
  --background-color-footer-row-1: #5d5dff;
  --text-color-primary: #d9e3ea;
  --text-color-secondary: #9ba9b4;
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
}
