:root {
  --white: #ffffff;
  --background-page-black: #151719;
  --background-color-input: #ababff;
  --background-color-footer-row-1: #5d5dff;
  --text-color-primary: #d9e3ea;
  --text-color-secondary: #9ba9b4;
  --background-color-divider: #cccccc;
  --background-color-user-card: #25282c;
  --background-color-divider: #33363a;
  --background-color-tag: #c6f6d5;
  --text-color-tag: #36a269;
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}
